<h1><%= t('header.history') %></h1>
<%
header_names = []
header_names << t('common.created_at')
header_names << t('history.name')
header_names << t('member.activity')
header_names << t('form.comment')
%>
<%
column_functions = []
column_functions << Proc.new {|record| date(record.created_at)}
column_functions << Proc.new {|record| record.member.name}
column_functions << Proc.new {|record| record.activity.name}
column_functions << Proc.new {|record| record.comment}
%>
<%= table_creator(@jobs, header_names, column_functions) %>
<% paginate @jobs %>