<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Activity</th>
      <th>Comment</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% worker_info.each do |info| %>
      <tr>
        <td><%= info.date %></td>
        <td><%= info.activity %></td>
        <td>
          <% if info.comment %>
            <%= info.comment %>
          <% end %>
        </td>
        <td> <%= link_to 'Delete', [info.member, info],
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>