<h1><%= t('activities.header') %></h1>
<p class="text-muted">
  <%= t('activities.destroy_info') %>
</p>
<%
header_names = []
header_names << t('activities.name')
header_names << t('activities.edit')
header_names << t('common.delete')
%>
<%
column_functions = []
column_functions << Proc.new {|record| record.name}
column_functions << Proc.new {|record| link_to t('activities.edit'), edit_activity_path(record)}
column_functions << Proc.new {|record| destroy_link(record)}
%>
<%= table_creator(@activities, header_names, column_functions) %>

<%= link_to t('activities.new'), new_activity_path, input_html = {class: 'btn btn-default'} %>
