<%= form_tag cooperative_import_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br>
<br>
<br>

<a class="btn btn-danger" href=<%= cooperative_clear_path %> role="button">Delete all workers</a>