<%= form_tag cooperative_import_path, multipart: true do %>
    <h3>Import workerlist</h3		>
    <p>The file need to be in csv format! Currently import only supports files simmilar to Sydskånskas Jobbarlista. The import may take a few seconds <strong> when the import has started wait until it is done </strong></p>

    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>


<br>
<br>

<h3>Delete all workers in the worker list</h3>
<%= link_to 'Delete all workers', cooperative_clear_path, :class => 'btn btn-danger', data: {confirm: "Are you sure? This will delete all worker data"} %>
