<%= form_tag cooperative_import_path, multipart: true do %>
    <label for="file">Import workerlist</label>
    <p>The file need to be in csv format! Currently import only supports files simmilar to Sydkanskas Jobbarlista.</p>

    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>



<br>
<br>
<br>

<a class="btn btn-danger" href=<%= cooperative_clear_path %> role="button">Delete all workers</a>