<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: t('activities.name') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('activities.create') %>
  </div>
<% end %>
