<h3>Contact</h3>
<p>For feedback or if you having issues with this application please contact send an email to: <i>philip.burenstam.linder@gmail.com</i></p>

<h3>Contribute to this project</h3>
<p>This site is built open source using the MIT license.</p>
<p><a href="https://github.com/pbl/skanken" class="btn btn-primary" role="button">Contribute</a></p>

<h3>Contributors</h3>
<p>A huge thanks to the people how have contributed to the project. Without them it would not have been possible to create this website. Also thanks to Jenny Ekstam which had the idea for this website.</p>
<div class="col-md-6">
  <div class="thumbnail">
    <h3>Creator</h3>
    <img src=<%= image_path("philip.jpg") %> class="img-responsive" alt="Responsive image">
    <div class="caption">
      <h3>Philip Burenstam Linder</h3>
      <p><a href="https://github.com/pbl" class="btn btn-primary" role="button">Github repository</a></p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="thumbnail">
    <h3>Core contributor</h3>
    <img src=<%= image_path("erik.png") %> class="img-responsive" alt="Responsive image">
    <div class="caption">
      <h3>Erik Hedblom</h3>
      <p><a href="https://github.com/ErikHedblom" class="btn btn-primary" role="button">Github repository</a></p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="thumbnail">
    <h3>Core contributor</h3>
    <img src=<%= image_path("david.jpg") %> class="img-responsive" alt="Responsive image">
    <div class="caption">
      <h3>David Norrestam</h3>
      <p><a href="https://github.com/davidnorrestam" class="btn btn-primary" role="button">Github repository</a></p>
    </div>
  </div>
</div>
 <div class="col-md-6">
  <div class="thumbnail">
    <h3>Contributor</h3>
    <img src=<%= image_path("jacob.jpg") %> class="img-responsive" alt="Responsive image">
    <div class="caption">
      <h3>Jacob Burenstam</h3>
      <p><a href="https://github.com/buren" class="btn btn-primary" role="button">Github repository</a></p>
    </div>
  </div>
</div>
