<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <h3>Project lead</h3>
      <img src=<%= image_path("gorilla.jpg") %> />
      <div class="caption">
        <h3>Philip Burenstam Linder</h3>
        <p>Philip Burenstam Linder gillar ... </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Contributors</h3>
    <h4>A huge thanks to the following people how have contributed to the project. Without them it would not have been possible to create this website</h4>
    <ul>
      <li>David Norrestam ... (and picture)</li>
      <li>Erik Hedenblom ... (and picture)</li>
      <li>Jacob ... (and picture)</li>
    </ul>    
  </div>
</div>