<form class="form-inline">
  <div class="form-group">
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Filter by activity<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="activities_filter">Show all</a></li>
        <li class="divider"></li>
        <li><a href="#" class="activities_filter">Klubb</a></li>
        <li><a href="#" class="activities_filter">Matlagning</a></li>
        <li><a href="#" class="activities_filter">Foxen</a></li>
        <li><a href="#" class="activities_filter">Electrified</a></li>
        <li><a href="#" class="activities_filter">Pub</a></li>
        <li class="divider"></li>
        <li><a href="#" class="activities_filter">Lunch</a></li>
        <li><a href="#" class="activities_filter">Cafe</a></li>
        <li><a href="#" class="activities_filter">Cooking</a></li>
        <li class="divider"></li>
        <li><a href="#" class="activities_filter">Serving </a></li>
        <li><a href="#" class="activities_filter">Photo</a></li>
        <li><a href="#" class="activities_filter">Graphic</a></li>
      </ul>
    </div>
  </div>
</form>