<form class="form-inline">
  <div class="form-group">
  <input type="text" class="form-control" id="search_worker" placeholder="Filter by name" style="width:inherit!important">
  </div>  
  <div class="form-group">
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Filter by activity<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" class="options_filter">Show all</a></li>
        <li><a href="#" class="options_filter">Svartklubben</a></li>
        <li><a href="#" class="options_filter">Heartland</a></li>
        <li><a href="#" class="options_filter">Foxen</a></li>
        <li><a href="#" class="options_filter">Electrified</a></li>
        <li><a href="#" class="options_filter">Pub</a></li>
        <li class="divider"></li>
        <li><a href="#" class="options_filter">Lunch</a></li>
        <li><a href="#" class="options_filter">Cafe</a></li>
        <li><a href="#" class="options_filter">Cooking</a></li>
        <li class="divider"></li>
        <li><a href="#" class="options_filter">Serving</a></li>
        <li><a href="#" class="options_filter">Photo</a></li>
        <li><a href="#" class="options_filter">Graphic</a></li>
      </ul>
    </div>
  </div>
</form>