<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="/home/philip/development/skanken/app/assets/images/gorilla.jpg" alt="...">
      <div class="caption">
        <h3>Philip Burenstam Linder</h3>
        <p>Philip Burenstam Linder gillar ... </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
      <div class="thumbnail">
        <img src="/home/philip/development/skanken/app/assets/images/gorilla.jpg" alt="...">
        <div class="caption">
          <h3>David Norrestam</h3>
          <p>David Snorrestam även kallad för Damp-David gillar Super smash bros, utbytesstudenter och nollningar. Han ogillar de två sista veckorna innan CSN, transvistiter på fyllan (när han inte ser att de är transvistiter) och kallt kaffe. </p>
        </div>
      </div>
    </div>
  </div>
</div>