<div class="page-header">
  <h1>Skanken <small>Because your worth it</small></h1>
</div>

<header>
  <%= render :partial => 'members/navbar' %>
</header>

<div id="new_member" style="display: none;" >
  <%= render :partial => 'members/new' %>
</div>

</br>

<div id="members">
  <%= render :partial => 'members/members_list' %>
</div>

